html {
  background-color: grey;
}

.myDarkClass {
  background-color: #000;
}

.myLightClass {
  background-color: grey;
}

.myHead {
  color: #fff;
}

button {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}
